Repository Tenacom/PolyKit, changes with the labels that .github/labeler.yml gives for each.
All labels: area:code, area:style, area:build, area:repo, area:ci, area:deps, area:docs

Bump dotnet-reportgenerator-globaltool from 5.2.0 to 5.4.12
  .config/dotnet-tools.json
Labels: area:deps

Bump dotnet-reportgenerator-globaltool from 5.2.0 to 5.4.12
  .config/dotnet-tools.json
Labels: area:deps

Bump codecov/codecov-action from 3 to 5
  .github/workflows/build-test-pack.yml
Labels: area:ci

Simplify CodeCov working directory
  .github/workflows/build-test-pack.yml
Labels: area:ci

Upload Cobertura file to CodeCov only if it exists
  .github/workflows/build-test-pack.yml
Labels: area:ci

Simplify CodeCov working directory
  .github/workflows/build-test-pack.yml
Labels: area:ci

Upload Cobertura file to CodeCov only if it exists
  .github/workflows/build-test-pack.yml
Labels: area:ci

Bump codecov/codecov-action from 3 to 5
  .github/workflows/build-test-pack.yml
Labels: area:ci

Remove System.HashCode polyfill in favor of a Microsoft.Bcl.HashCode dependency
  Directory.Packages.props
  src/PolyKit.Embedded/build/PolyKit.Embedded.targets
  src/PolyKit.Polyfills/PolyKit.Polyfills.csproj
  src/PolyKit.Polyfills/System/HashCode.cs
  src/PolyKit.Polyfills/System/Range.cs
Labels: area:code, area:deps

Update ReSharper settings
  PolyKit.sln.DotSettings
Labels: area:style

Update README removing information about the removed polyfill for System.HashCode
  README.md
Labels: area:docs

Update changelog
  CHANGELOG.md
Labels: area:docs

Update README removing information about the removed polyfill for System.HashCode
  README.md
Labels: area:docs

Remove System.HashCode polyfill in favor of a Microsoft.Bcl.HashCode dependency
  Directory.Packages.props
  src/PolyKit.Embedded/build/PolyKit.Embedded.targets
  src/PolyKit.Polyfills/PolyKit.Polyfills.csproj
  src/PolyKit.Polyfills/System/HashCode.cs
  src/PolyKit.Polyfills/System/Range.cs
Labels: area:code, area:deps

Update changelog
  CHANGELOG.md
Labels: area:docs

Update ReSharper settings
  PolyKit.sln.DotSettings
Labels: area:style

Prepare release 3.0.25-preview [skip ci]
  version.json
Labels: none

Add Microsoft.CodeAnalysis as direct dependency of PolyKit.Generator
  Directory.Packages.props
  src/PolyKit.Generator/PolyKit.Generator.csproj
Labels: area:code, area:deps

Fix: No System.HashCode or System.Range when using PolyKit DLL
  src/PolyKit/PolyKit.csproj
Labels: area:code

.github/labeler.yml:

'area:code':
 - changed-files:
    - any-glob-to-any-file:
      - '*.sln'
      - 'src/**/*'

'area:style':
 - changed-files:
    - any-glob-to-any-file:
      - '**/.editorconfig'
      - '**/.globalconfig'
      - '**/stylecop.json'
      - '**/*.DotSettings'

'area:build':
 - changed-files:
    - any-glob-to-any-file:
      - '**/*.cake'
      - 'build/**/*'

'area:repo':
 - changed-files:
    - any-glob-to-any-file:
      - '.github/*.yml'
      - '.github/**/*.md'
      - CODEOWNERS
      - '.github/CODEOWNERS'

'area:ci':
 - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - 'lgtm.yml'

'area:deps':
 - changed-files:
    - any-glob-to-any-file:
      - '**/Directory.Packages.props'
      - Directory.Build.props
      - Directory.Build.targets
      - global.json
      - .config/dotnet-tools.json

'area:docs':
 - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '.all-contributorsrc'
      - '**/CHANGELOG.md'
      - '**/LICENSE'
      - '**/NuGet-README.md'
      - '**/README.md'
      - '**/THIRD-PARTY-NOTICES'
